
<!-- 
<a href="javascript:void(0)" onClick="return false;" class="list-group-item">
  <span class="glyphicon glyphicon-envelope"></span> メッセージ <span class="label label-success">3</span>
  <span class="glyphicon pull-right glyphicon-chevron-down"></span>
</a>
<div id="menuOne" class="sublinks collapse in" aria-expanded="false" style="">
  <a class="list-group-item">  受信ボックス<span class="glyphicon pull-right"></span></a>
  <a class="list-group-item">  送信ボックス<span class="glyphicon pull-right"></span></a>
</div> -->

<!-- <div *ngIf={{jsonValue.c === "JsonNumArray"}}>JsonNumArray</div> -->

<!--
アコーディオン作成時のメモ
開く: 親側のaタグのクラスからcollapsedを削除する("list-group-item").子供のdivタグのclass属性にinを追加する ("sublinks collapse in" )それからstyleがheight:0px;になっていたら削除する
閉じる: 親側のaタグのクラスからcollapsedを追加する("list-group-item collapsed").子供のdivタグのclass属性からinを削除する ("sublinks collapse" )それからstyleがheight:0px;にする
-->
<div *ngIf="isJsonValueArray(jsonValue)" [style.display]="isChiledDisplayStyle()">
  <!-- <div *ngIf="isOpen"> -->
    <a class="list-group-item padding-style" [style.padding-left]="paddingStr(padding)" (click)="openStatusChange()" >{{"["}}</a>
    <div *ngFor="let j of jsonValue.v">
      <drop-down [padding]="padding+1" [jsonValue]="j" ></drop-down>
    </div>
    <a class="list-group-item" >{{"]"}}</a>
  <!-- </div> -->
</div>
<div *ngIf="isJsonValueArray(jsonValue)">
  <div *ngIf="!isOpen">
      <a class="list-group-item padding-style" [style.padding-left]="paddingStr(padding)" (click)="openStatusChange()">{{"[...]"}}</a>
  </div>
</div>

<div *ngIf="isJsonValue(jsonValue)" [style.display]="isChiledDisplayStyle()">
  <!-- <div *ngIf="isOpen"> -->
    <a class="list-group-item padding-style" [style.padding-left]="paddingStr(padding)" (click)="openStatusChange()"> {{"{"}} </a>
    <div *ngFor="let k of jsonValue.mapToKeys()" class="display:inline-flex">
      <a *ngIf="isJsonValue(jsonValue.e.get(k))" class="list-group-item" [style.padding-left]="paddingStr(padding)">{{k + " :"}}</a>
      <drop-down *ngIf="isJsonValue(jsonValue.e.get(k))" [padding]="padding+1" [jsonValue]="jsonValue.e.get(k)"></drop-down>
      <!-- <a *ngIf="isJsonValue(jsonValue.e.get(k))" class="list-group-item" [style.padding-left]="paddingStr(padding+1)">{{"}"}}</a> -->
      <a *ngIf="!isJsonValue(jsonValue.e.get(k))" class="list-group-item" [style.padding-left]="paddingStr(padding)">
        {{k + " : "}}
        <drop-down [padding]="padding+1" [jsonValue]="jsonValue.e.get(k)"></drop-down>
      </a>
    </div>
    <a class="list-group-item" [style.padding-left]="paddingStr(padding)">{{"},"}}</a>
  <!-- </div> -->
</div>
<div *ngIf="isJsonValue(jsonValue)" >
    <div *ngIf="!isOpen">
      <a class="list-group-item padding-style" [style.padding-left]="paddingStr(padding)" (click)="openStatusChange()">{{"{...},"}}</a>
    </div>
</div>

<div *ngIf="isJsonNumValue(jsonValue) || isJsonStrValue(jsonValue)" style="display:inline-flex">
    <input type="text" class="text-style" value="{{jsonValue.v}}" (change)="changeVal(inputVal)" #inputVal />
</div>
<div *ngIf="isJsonNumArray(jsonValue) || isJsonStrArray(jsonValue)" style="display:inline-flex;" >
  [<input type="text" class="text-style" value="{{jsonValue.v}}" (change)="changeVal(inputVal)" #inputVal/>]
</div>
