
<!-- 
<a href="javascript:void(0)" onClick="return false;" class="list-group-item">
  <span class="glyphicon glyphicon-envelope"></span> メッセージ <span class="label label-success">3</span>
  <span class="glyphicon pull-right glyphicon-chevron-down"></span>
</a>
<div id="menuOne" class="sublinks collapse in" aria-expanded="false" style="">
  <a class="list-group-item">  受信ボックス<span class="glyphicon pull-right"></span></a>
  <a class="list-group-item">  送信ボックス<span class="glyphicon pull-right"></span></a>
</div> -->

<!-- <div *ngIf={{jsonValue.c === "JsonNumArray"}}>JsonNumArray</div> -->

<!--
アコーディオン作成時のメモ
開く: 親側のaタグのクラスからcollapsedを削除する("list-group-item").子供のdivタグのclass属性にinを追加する ("sublinks collapse in" )それからstyleがheight:0px;になっていたら削除する
閉じる: 親側のaタグのクラスからcollapsedを追加する("list-group-item collapsed").子供のdivタグのclass属性からinを削除する ("sublinks collapse" )それからstyleがheight:0px;にする
-->
<div *ngIf="isJsonValueArray(jsonValue)" >
  <a class="list-group-item">{{"["}}</a>
  <div *ngFor="let j of jsonValue.v">
    <a class="list-group-item"> {{"{"}} </a>
    <div *ngFor="let k of j.mapToKeys()" class="display:inline-flex">

      <a *ngIf="isJsonValue(j.e.get(k))" class="list-group-item">{{k + " : {"}}</a>
      <drop-down *ngIf="isJsonValue(j.e.get(k))" [jsonValue]="j.e.get(k)"></drop-down>
      <a *ngIf="isJsonValue(j.e.get(k))" class="list-group-item">{{"}"}}</a>

      <a *ngIf="!isJsonValue(j.e.get(k))" class="list-group-item">{{k + " : " + j.e.get(k)}}</a>
    </div>
    <a class="list-group-item">{{"},"}}</a>
  </div>
  <a class="list-group-item">{{"]"}}</a>
</div>


<div *ngIf="isJsonNumValue(jsonValue)" style="display:inline-flex" >{{jsonValue.v}}</div>
<div *ngIf="isJsonStrValue(jsonValue)" style="display:inline-flex" >{{jsonValue.v}}</div>


<div *ngFor="let k of jsonValue.mapToKeys()" class="display:inline-flex">
  <a *ngIf="isJsonValue(jsonValue.e.get(k))" class="list-group-item">{{k + " : {"}}</a>
  <drop-down *ngIf="isJsonValue(jsonValue.e.get(k))" [jsonValue]="jsonValue.e.get(k)"></drop-down>
  <a *ngIf="isJsonValue(jsonValue.e.get(k))" class="list-group-item">{{"}"}}</a>
  <a *ngIf="!isJsonValue(jsonValue.e.get(k))" class="list-group-item">{{k + " : " + jsonValue.e.get(k)}}</a>
</div>